

footer {
background-color: $footer;
display: flex;
flex-direction: row;
justify-content: space-between;
  .nav {
    margin-left : 40px;
    color: $letrab;
    .nav-link {
    font-family: 'Shadows Into Light';
    font-size: 20px; ;
    font-weight: bold;
    color:$letrab;
}
  }


  .footer {
    display:block;
    color: $letrab;
    height: auto;
    width: 500px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: auto;
    h2{
        font-family: 'Shadows Into Light', cursive;
        font-size: 30px;
        font-weight: bold;
        color: $letrab;
    }

}

}
.volver {
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
    font-weight: bold;
    color: $letrab;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 30px;
  }